@using Blazored.LocalStorage
@using Toolbelt.Blazor.PWA.Updater
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<PWAUpdater />

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="page">
   
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <Searchbar/>
            <AuthorizeView>
                <Authorized>
                    <a href="/profile">My profile</a>
                    <button class="btn-primary" onclick="@HandleLogout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Log-in</a>
                    <a href="/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task HandleLogout()
    {
        await LocalStorageService.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/login");
    }
}
