@inject HttpClient HttpClient;
@inject IProjectDetailService ProjectDetailService;

<h6>@ProjectDetailService.ProjectDetail.Name</h6>

@code {
    private ProjectDetail _projectDetail = new ProjectDetail();

    protected override async Task OnInitializedAsync()
    {
        await ProjectDetailService.GetProjectDetailAsync();
    }
}
