@inject HttpClient HttpClient;
@inject IProjectDetailService ProjectDetailService;

<h1>@ProjectDetailService.ProjectDetail.Name</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProjectDetailService.GetProjectDetailAsync();
    }
}
