<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	 <add key="Local" value="nuget" /> 
    <add key="NetMicroservices.Common" value="https://pkgs.dev.azure.com/duchpatrick/netmicroservices/_packaging/NetMicroservices.Common/nuget/v3/index.json" />
  </packageSources>
</configuration>