@inject NavigationManager NavigationManager
@inject IProductService ProductService

<div class="input-group">
    <input 
        @bind-value="_searchText"
        @bind-value:event="oninput" 
        type="search"
        list="products"
        @onkeyup="HandleSearch"
        class="form-control"
        placeholder="Search"
        @ref="_searchInput"
    />
    
    <datalist id="products">
        
    </datalist>
    
    <div class="input-group-append">
        <button class="btn btn-primary" @onclick="SearchProducts">
            <span class="oi oi-magnifying-glass"></span>
        </button>        
    </div>
</div>

@code {

    private string _searchText = string.Empty;
    private List<string> _suggestions = new ();
    private ElementReference _searchInput;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _searchInput.FocusAsync();
        }
    }

    private void SearchProducts()
    {
        NavigationManager.NavigateTo($"search/{_searchText}");
    }

    private async Task HandleSearch(KeyboardEventArgs args)
    {
        if (args.Key.Equals("Enter"))
        {
            SearchProducts();
        } else if (_searchText.Length > 1)
        {
            var res = await ProductService.GetProductSearchSuggestions(_searchText);
            _suggestions = res.Data;
        }}
        }
    }

}