@if (Product.ProductVariants.Count == 0)
{
    <h4 class="not-available">Not available</h4>
}

<ProductPrice Price="@GetPriceText(Product)" />

@code {
    [Parameter]
    public Product Product { get; set; } = new();
    
    private string GetPriceText(Product product)
    {
        var variants = product.ProductVariants;

        switch (variants.Count)
        {
            case 0:
                return string.Empty;
                
            // only one variant
            case 1:
                return $"${variants[0].Price}";
            default:
            {
                var minPrice = variants.Min(v => v.Price);
                return $"Starting at ${minPrice}";
            }
        }
    }
}