.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}