 <a href="@Url">
     <h3 class="mb-0">@Name</h3>
 </a>
 
 @code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
    
    [Parameter]
    public string Url { get; set; } = string.Empty;
}
 