.ownerinfo-container {
    padding-top: 0.5vh;
    padding-bottom: 1vh;
}

.ownerinfo-container__heading{
    font-size: 1em;
    font-weight: bold;

}

.ownerinfo-container__paragraph {
    margin-top: 0;
    margin-bottom: 0;
}