@inject Microsoft.Extensions.Configuration.IConfiguration config
@page "/"

<PageTitle>Index</PageTitle>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<span>@config["message"]</span>