@page "/product/{id:guid}"
@inject IProductService ProductService

@if(_product == null)
{
    <span>@_message</span>
}
else
{
    <ProductItemDetail ProductId="Id"  />
}

@code {
    private Product? _product;
    private string _message = string.Empty;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _message = "Loading Product...";

        var result = await ProductService.GetProductAsync(Id);

        if (!result.Success)
        {
            _message = result.Message;

        } else
        {
            _product = result.Data;
        }
    }
}
