@page "/product/{id:guid}"
@inject IProductService ProductService

@if(product == null)
{
    <span>@message</span>
}
else
{
    <Web.Blazor.Client.Shared.App.Products.ProductDetail.ProductDetail
        ProductId="@product.Id"
    />
}

@code {
    private Product? product = null;
    private string message = string.Empty;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Product...";

        var result = await ProductService.GetProductAsync(Id);

        if (!result.Success)
        {
            message = result.Message;

        } else
        {
            product = result.Data;
        }
    }
}
