@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using NetMicroservices.ServiceConfig.Nuget;

@model ServiceResponse<List<Product>>;


<h1>Products</h1>

@foreach (var item in Model.Data)
{
    <h2>@item.Name</h2>
}